doctype html
html
  head
    title Ripple Button
    meta(charset="utf-8")
    link(rel="stylesheet" href="static/bootstrap.readable.min.css")
    link(rel="stylesheet" href="static/style.css")
  body
    button.btn.btn-lg.btn-primary#button
      div
        div
        #bigger