doctype html
html
  head
    title Ripple Button
    meta(charset="utf-8")
    link(rel="stylesheet" href="static/bootstrap.readable.min.css")
    link(rel="stylesheet" href="static/style.css")
  body
    button.btn.btn-lg.btn-primary#button
      div
        div
        #bigger
  script
    $('#button').click(function(e) {
      $('body').prepend('<div id="drop"></div>')
      setTimeout(function() {
        $('#drop').addClass('open')
      }, 10);
      setTimeout(function() {
         $('#drop').remove()
      }, 2700);
    })