@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body, h1, h2, h3, h4, h5, h6, p, input {
  font-family: 'Inconsolata', Courier;
  /*color: #2e2e2e;*/
}

.title {
  display: flex;
  align-items: baseline;
}